.header {
  background-color: #ff6600;
  min-height: 700px;
}

.header .main .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  padding: 40px 0 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main .row .logo a {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
}

.header .main .row .menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main .row .menu .search-bar .search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .main .row .menu .search-bar .search .search__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  color: #161c2db3;
  border: none;
  font-weight: 400;
  border-radius: 5px;
  position: relative;
  right: 0;
  background: #fff;
  outline: 0;
  border: 1px solid #fff;
}

.header .main .row .menu .search-bar .search .search__icon {
  position: absolute;
  right: 20px;
  font-size: 15px;
  top: 15px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header .main .row .menu {
    display: none;
  }
}

.header .main .row .mode .navigation {
  display: block;
}

.header .main .row .mode .navigation .theme-switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main .row .mode .navigation .theme-switch-wrapper .theme-switch {
  display: inline-block;
  position: relative;
  margin: 0;
}

.header .main .row .mode .navigation .theme-switch-wrapper .theme-switch input {
  display: none;
}

.header .main .row .mode .navigation .theme-switch-wrapper .theme-switch .mode-container {
  width: 24px;
  height: 24px;
  padding: 1px 0;
}

.header .main .row .mode .navigation .theme-switch-wrapper .theme-switch .mode-container i.fa-sun-bright {
  display: block;
  color: #eee;
}

.header .main .row .mode .navigation .theme-switch-wrapper .theme-switch .mode-container i.fa-moon {
  display: block;
  color: #eee;
  font-size: 23px;
}

.header .main .row .mode .navigation .theme-switch-wrapper .theme-switch .mode-container .fa-moon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  top: 8px;
  left: 2px;
}

.header .main .row .menu-btn button {
  outline: none;
  border: none;
  background: none;
  text-align: center;
  color: #fbfdfb;
  font-size: 1.95em;
  padding: 0 8px;
}

.header .infor {
  max-width: 600px;
  text-align: left;
  margin-top: 100px;
}

.header .infor h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  font-family: "Quicksand", sans-serif;
}

.header .infor p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}

.header .infor a {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 15px 40px;
  font-weight: 700;
  margin-top: 30px;
}

.header .infor a:hover {
  color: #ff6600;
  background-color: #fff;
  -webkit-transition: all 1s;
  transition: all 1s;
}

ul {
  margin: 0;
  padding: 0;
}

.btn-style {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  border-radius: 6px;
  border: 2px solid transparent;
}

.btn-primary {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
  opacity: 0.8;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

a,
a:hover {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  font-family: "Quicksand", sans-serif;
}

.footer {
  background-color: #000000;
}

.footer a.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding: 0;
}

.footer a.navbar-brand:hover {
  color: #ff6600;
}

.footer h6.footer-title {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}

.footer p {
  color: #a5a2a1;
  font-size: 18px;
}

.footer form {
  margin-top: 25px;
  position: relative;
}

.footer input {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: #ff6600;
  border-radius: 6px;
}

.footer .footer-list-29 ul li {
  list-style: none;
  margin-bottom: 10px;
}

.footer .footer-list-29 ul li a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}

.footer .footer-list-29 ul li a:hover {
  color: #ff6600;
}

.footer .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .container .row .footer-1 .social-footer a {
  margin-right: 10px;
  color: #ff6600;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: #232220;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .container .row .footer-1 .social-footer a:hover {
  background: #ff6600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.title-sunny {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #eee;
  font-family: "Quicksand", sans-serif;
}

body,
html {
  color: #c2d0da;
}

li {
  list-style: none;
}

.radius-image {
  border-radius: 5px;
}

.title-w31 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

ul.page-pagination li {
  display: inline-block;
  margin-right: 5px;
}

ul.page-pagination li span.current {
  display: block;
  padding: 8px 16px;
  color: #fff;
  border: 1px solid #ff6600;
  border-radius: 5px;
  font-weight: 700;
  background: #ff6600;
  -webkit-transition: background-color 0.15s linear, color 0.15s linear;
  transition: background-color 0.15s linear, color 0.15s linear;
}

ul.page-pagination li a.page-numbers,
ul.page-pagination li a.next {
  display: block;
  padding: 8px 16px;
  background-color: #282828;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: background-color 0.15s linear, color 0.15s linear;
  transition: background-color 0.15s linear, color 0.15s linear;
}

ul.page-pagination li a.page-numbers:hover,
ul.page-pagination li a.next:hover {
  background-color: #232220;
  color: #ff6600;
  border: 1px solid #ff6600;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: #c2d0da;
  font-family: "Quicksand", sans-serif;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-img,
.card-img-top,
.card-img-bottom {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
}

.sidebar-widget {
  margin-bottom: 40px;
  padding: 40px 30px;
  background: #232220;
  border-radius: 5px;
}

.sidebar-widget .title-left {
  font-size: 26px;
  line-height: 38px;
  font-weight: 600;
}

.sidebar-widget article.post-recipe {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.sidebar-widget article.post {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr;
      grid-template-columns: 100px 1fr;
  grid-gap: 15px;
  margin-bottom: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-widget article.post img {
  border-radius: 5px;
}

.sidebar-widget .text-small a {
  display: block;
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  color: #eee;
  margin-top: 10px;
}

.sidebar-widget .text a {
  font-size: 20px;
  line-height: 28px;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 700;
  color: #eee;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebar-widget .blog-cat li a {
  position: relative;
  color: #c2d0da;
  font-size: 19px;
  font-weight: 500;
  display: block;
  padding: 10px 15px 10px 20px;
}

.sidebar-widget .blog-cat li a:hover {
  color: #ff6600;
}

.blogpost {
  background-color: #282828;
}

.blogpost .card {
  position: relative;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: none;
  border-radius: 0;
}

.blogpost .card-header {
  border: none;
}

.blogpost .post-pos {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.blogpost a.receipe {
  background: #ff6600;
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: 0.05em;
}

.blogpost .meta-info {
  opacity: 1;
  color: #fff;
  margin-left: 10px;
  font-size: 15px;
  letter-spacing: 0.02em;
}

.blogpost .p-meta-info {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  grid-gap: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.blogpost .p-meta-info a {
  font-weight: 700;
  color: #eee;
  letter-spacing: 0.02em;
}

.blogpost .p-meta-info img {
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}

.blogpost a.blog-desc {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #eee;
  margin-top: 25px;
  margin-bottom: 15px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.blogpost .p-footer {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogpost a.post-img-anchor {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.blogpost a.read {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #eee;
  opacity: 0.9;
}

.blogpost a.read:hover {
  color: #ff6600;
}
/*# sourceMappingURL=blog.css.map */