@import "../layouts/header";
@import "../layouts/footer";
@import "../themes/mixins";

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
*{
    font-family: 'Quicksand', sans-serif;

}

.container {
    max-width: 1200px;

}

.error{
    background-color: #232220;
    .container{
        h1{
            background-color: black;
            color: white;
            font-size: 130px;
            font-weight: 900;
            
        }
    }
}
