@import "../themes/variables";

ul {
  margin: 0;
  padding: 0;
}

.btn-style {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
  border: 2px solid transparent;
}

.btn-primary {
  color: #fff;
  background-color: $fontColor;
  border: 2px solid $fontColor;
}
.btn-primary:hover {
  color: #fff;
  background-color: $fontColor;
  border: 2px solid $fontColor;
  opacity: 0.8;
}

li {
  list-style: none;
  margin-bottom: 10px;
}
a,
a:hover {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  font-family: "Quicksand", sans-serif;
}
.footer {
  background-color: #000000;
  a.navbar-brand {
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    padding: 0;
  }
  a.navbar-brand:hover {
    color: $fontColor;
  }
  h6.footer-title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: 700;
    position: relative;
    color: #fff;
  }
  p {
    color: #a5a2a1;
    font-size: 18px;
  }
  form {
    margin-top: 25px;
    position: relative;
  }

  input {
    padding: 14px 20px;
    font-size: 18px;
    line-height: 28px;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    color: $fontColor;
    // background:$backgroundColor;
    border-radius: 6px;
  }
  .footer-list-29 {
    ul {
      li {
        list-style: none;
        margin-bottom: 10px;
        a {
          font-size: 17px;
          line-height: 26px;
          color: #a5a2a1;
        }
        a:hover {
          color: $fontColor;
        }
      }
    }
  }

  .container {
    .row {
      display: flex;
      flex-wrap: wrap;
      .footer-1 {
        .social-footer a {
          margin-right: 10px;
          color: $fontColor;
          display: inline-block;
          text-align: center;
          font-size: 16px;
          background: $backgroundColor;
          width: 36px;
          height: 36px;
          line-height: 36px;
          border-radius: 6px;
          transition: 0.3s;
        }
        .social-footer a:hover {
          background: $fontColor;
          transition: 0.3s;
          color: #fff;
        }
      }
    }
  }
}
