@import "../themes/variables";

.header {
  background-color: $fontColor;
  //   background-image: url(../img/backgroung_header.jpeg);
  //   background-size: cover;
  //   background-repeat: no-repeat, no-repeat, no-repeat;
  //   background-position: initial;
  //   background-attachment: fixed;
    min-height: 700px;
  .main {
    .row {
      display: grid;
      grid-template-columns: 4fr 1fr;
      grid-gap: 20px;
      padding: 40px 0 20px 0;
      align-items: center;
      .logo {
        a {
          color: $logoColor;
          font-size: $logoFontSize;
          font-weight: $logoFontWeight;
          text-decoration: none;
        }
      }
      .menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        align-items: center;
        .search-bar {
          .search {
            position: relative;
            display: flex;
            .search__input {
              display: flex;
              flex: 1;
              padding: 10px 50px 10px 20px;
              height: 45px;
              font-size: 16px;
              color: #161c2db3;
              border: none;
              font-weight: 400;
              border-radius: 5px;
              position: relative;
              right: 0;
              background: #fff;
              outline: 0;
              border: 1px solid #fff;
            }
            .search__icon {
              position: absolute;
              right: 20px;
              font-size: 15px;
              top: 15px;
              cursor: pointer;
            }
          }
        }
        .mode {
          .navigation {
            display: block;
            .theme-switch-wrapper {
              display: flex;
              align-items: center;
              .theme-switch {
                display: inline-block;
                position: relative;
                margin: 0;
                input {
                  display: none;
                }
                .mode-container {
                  width: 24px;
                  height: 24px;
                  padding: 1px 0;
                  i.fa-sun-bright {
                    display: block;
                    color: #eee;
                  }
                  i.fa-moon {
                    display: block;
                    color: #eee;
                    font-size: 23px;
                  }
                  .fa-moon::after {
                    content: "";
                    position: absolute;
                    width: 12px;
                    height: 18px;
                    top: 8px;
                    left: 2px;
                  }
                }
              }
            }
          }
        }
        .menu-btn {
          button {
            outline: none;
            border: none;
            background: none;
            text-align: center;
            color: #fbfdfb;
            font-size: 1.95em;
            padding: 0 8px;
          }
        }
      }
    }
    .infor {
      max-width: 600px;
      text-align: left;
      margin-top: 100px;
      h3 {
        font-size: 54px;
        line-height: 64px;
        font-weight: 600;
        text-transform: capitalize;
        color: #fff;
        font-family: "Quicksand", sans-serif;
      }
      p {
        font-size: 16px;
        line-height: 28px;
        color: #fff;
      }
      a {
        background: transparent;
        border: 2px solid #fff;
        color: #fff;
        padding: 15px 40px;
        font-weight: 700;
        margin-top: 30px;
        &:hover {
            color: $fontColor;
            background-color: #fff;
            transition: all 1s;
        }
      }
    }
  }
}
